
.thumbnailStyle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.scrollable-name {
    font-size: 0.9rem;
    margin-top: 8px;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    color: var(--text-color);
    /* handling the extra long name title using ellipsis. 
    For mobile devices we can use the word-wrap or break-word as well.
    
    overflow-wrap: break-word;
    
    */
    white-space: nowrap; 
    width: 90px; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }

  .imageStyle {
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
    border-radius: 8px;
  }